.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #F2027;

    --text-default-color: #fff;
    --text-muted-color: rgba(255, 255, 255, 0.0);
    --text-muted-light-color: rgba(255, 255, 255, 0.3);
    --text-muted-light-color: #47cdff;
    --text-accent-light-color: #8ae2fe;
    --text-error-color: red;
}